In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import copy
import seaborn as sns
import sklearn.linear_model as sk_lm
from sklearn.preprocessing import scale
import sklearn.linear_model as skl_lm
from sklearn.metrics import confusion_matrix, classification_report, precision_score
import random
from sklearn.utils import shuffle
from sklearn.model_selection  import train_test_split
import os
import glob
#import 
%matplotlib inline

Source: https://www.kaggle.com/grouplens/movielens-20m-dataset/version/2


Context

The datasets describe ratings and free-text tagging activities from MovieLens, a movie recommendation service. It contains 20000263 ratings and 465564 tag applications across 27278 movies. These data were created by 138493 users between January 09, 1995 and March 31, 2015. This dataset was generated on October 17, 2016.

Users were selected at random for inclusion. All selected users had rated at least 20 movies.
Content

No demographic information is included. Each user is represented by an id, and no other information is provided.

The data are contained in six files.

tag.csv that contains tags applied to movies by users:

    userId

    movieId

    tag

    timestamp

rating.csv that contains ratings of movies by users:

    userId

    movieId

    rating

    timestamp

movie.csv that contains movie information:

    movieId

    title

    genres

link.csv that contains identifiers that can be used to link to other sources:

    movieId

    imdbId

    tmbdId

genome_scores.csv that contains movie-tag relevance data:

    movieId

    tagId

    relevance

genome_tags.csv that contains tag descriptions:

    tagId

    tag

Acknowledgements

The original datasets can be found here. To acknowledge use of the dataset in publications, please cite the following paper:

F. Maxwell Harper and Joseph A. Konstan. 2015. The MovieLens Datasets: History and Context. ACM Transactions on Interactive Intelligent Systems (TiiS) 5, 4, Article 19 (December 2015), 19 pages. DOI=http://dx.doi.org/10.1145/2827872
Inspiration

Some ideas worth exploring:

    Which genres receive the highest ratings? How does this change over time?

    Determine the temporal trends in the genres/tagging activity of the movies released

In [2]:
x = glob.glob("/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/*.csv")
x

['/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/genome_scores.csv',
 '/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/genome_tags.csv',
 '/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/link.csv',
 '/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/movie.csv',
 '/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/rating.csv',
 '/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/tag.csv']

In [3]:
y=[]
for i in x:
    y.append(i.strip("/media/radial/Work/Work/Work on datasets/movielens-20m-dataset").strip(".c"))
y = [x[2:] for x in y]
y

['genome_scores', 'genome_tags', 'link', 'movie', 'rating', 'tag']

In [4]:
genome_scores = pd.read_csv(x[0])
genome_tags = pd.read_csv(x[1])
link = pd.read_csv(x[2])
movie = pd.read_csv(x[3])
rating = pd.read_csv(x[4])
tag = pd.read_csv(x[5])

In [10]:
print("genome_scores............................................................................................")
print(genome_scores.head())
print("genome_tags............................................................................................")
print(genome_tags.head())
print("link............................................................................................")
print(link.head())
print("movie............................................................................................")
print(movie.head())
print("rating............................................................................................")
print(rating.head())
print("tag............................................................................................")
print(tag.head())

genome_scores............................................................................................
   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675
genome_tags............................................................................................
   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s
link............................................................................................
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
movie............................................................................................
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
rating............................................................................................
   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40
tag............................................................................................
   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [15]:
one = pd.merge(genome_scores,movie,on = ["movieId"])
one.head()

,movieId,tagId,relevance,title,genres
0,1,1,0.02500,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,2,0.02500,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,1,3,0.05775,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,1,4,0.09675,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,1,5,0.14675,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [18]:
one.shape

(11709768, 5)

In [91]:
yr = [i.strip(")").strip('"').strip("(").strip(" ")[-5:] for i in one.title]

In [92]:
yr = [i.strip(")").strip("(")for i in yr]
from collections import defaultdict
word_counts = defaultdict(int)
for word in yr:
    word_counts[word] += 1
word_counts

defaultdict(int,
            {'1902': 1128,
             '1915': 1128,
             '1916': 1128,
             '1917': 1128,
             '1918': 1128,
             '1919': 2256,
             '1920': 2256,
             '1921': 1128,
             '1922': 3384,
             '1923': 5640,
             '1924': 5640,
             '1925': 10152,
             '1926': 5640,
             '1927': 10152,
             '1928': 6768,
             '1929': 6768,
             '1930': 6768,
             '1931': 15792,
             '1932': 14664,
             '1933': 18048,
             '1934': 14664,
             '1935': 11280,
             '1936': 20304,
             '1937': 23688,
             '1938': 18048,
             '1939': 38352,
             '1940': 33840,
             '1941': 22560,
             '1942': 28200,
             '1943': 23688,
             '1944': 25944,
             '1945': 25944,
             '1946': 28200,
             '1947': 32712,
             '1948': 37224,
             '1949': 30456,
             '1950': 29328,
             '1951': 29328,
             '1952': 29328,
             '1953': 46248,
             '1954': 39480,
             '1955': 56400,
             '1956': 45120,
             '1957': 47376,
             '1958': 42864,
             '1959': 54144,
             '1960': 58656,
             '1961': 40608,
             '1962': 53016,
             '1963': 50760,
             '1964': 62040,
             '1965': 59784,
             '1966': 65424,
             '1967': 57528,
             '1968': 56400,
             '1969': 48504,
             '1970': 62040,
             '1971': 68808,
             '1972': 73320,
             '1973': 68808,
             '1974': 62040,
             '1975': 60912,
             '1976': 67680,
             '1977': 78960,
             '1978': 76704,
             '1979': 81216,
             '1980': 139872,
             '1981': 143256,
             '1982': 131976,
             '1983': 111672,
             '1984': 133104,
             '1985': 151152,
             '1986': 166944,
             '1987': 205296,
             '1988': 215448,
             '1989': 214320,
             '1990': 194016,
             '1991': 182736,
             '1992': 201912,
             '1993': 245904,
             '1994': 310200,
             '1995': 344040,
             '1996': 363216,
             '1997': 360960,
             '1998': 357576,
             '1999': 329376,
             '2000': 373368,
             '2001': 355320,
             '2002': 372240,
             '2003': 342912,
             '2004': 341784,
             '2005': 320352,
             '2006': 353064,
             '2007': 346296,
             '2008': 351936,
             '2009': 358704,
             '2010': 296664,
             '2011': 266208,
             '2012': 261696,
             '2013': 307944,
             '2014': 286512,
             '2015': 62040,
             'lon 5': 1128})

In [93]:
odd = [i for i in one.title if ("lon 5") in i[-10:]]
word_counts = defaultdict(int)
for word in odd:
    word_counts[word] += 1
word_counts

defaultdict(int, {'Babylon 5': 1128})

In [95]:
x = []
for i in range(len(yr)):
    if(yr[i]=="lon 5"):
        yr[i] = "1994"
word_counts = defaultdict(int)
for word in yr:
    word_counts[word] += 1
word_counts

defaultdict(int,
            {'1902': 1128,
             '1915': 1128,
             '1916': 1128,
             '1917': 1128,
             '1918': 1128,
             '1919': 2256,
             '1920': 2256,
             '1921': 1128,
             '1922': 3384,
             '1923': 5640,
             '1924': 5640,
             '1925': 10152,
             '1926': 5640,
             '1927': 10152,
             '1928': 6768,
             '1929': 6768,
             '1930': 6768,
             '1931': 15792,
             '1932': 14664,
             '1933': 18048,
             '1934': 14664,
             '1935': 11280,
             '1936': 20304,
             '1937': 23688,
             '1938': 18048,
             '1939': 38352,
             '1940': 33840,
             '1941': 22560,
             '1942': 28200,
             '1943': 23688,
             '1944': 25944,
             '1945': 25944,
             '1946': 28200,
             '1947': 32712,
             '1948': 37224,
             '1949': 30456,
             '1950': 29328,
             '1951': 29328,
             '1952': 29328,
             '1953': 46248,
             '1954': 39480,
             '1955': 56400,
             '1956': 45120,
             '1957': 47376,
             '1958': 42864,
             '1959': 54144,
             '1960': 58656,
             '1961': 40608,
             '1962': 53016,
             '1963': 50760,
             '1964': 62040,
             '1965': 59784,
             '1966': 65424,
             '1967': 57528,
             '1968': 56400,
             '1969': 48504,
             '1970': 62040,
             '1971': 68808,
             '1972': 73320,
             '1973': 68808,
             '1974': 62040,
             '1975': 60912,
             '1976': 67680,
             '1977': 78960,
             '1978': 76704,
             '1979': 81216,
             '1980': 139872,
             '1981': 143256,
             '1982': 131976,
             '1983': 111672,
             '1984': 133104,
             '1985': 151152,
             '1986': 166944,
             '1987': 205296,
             '1988': 215448,
             '1989': 214320,
             '1990': 194016,
             '1991': 182736,
             '1992': 201912,
             '1993': 245904,
             '1994': 311328,
             '1995': 344040,
             '1996': 363216,
             '1997': 360960,
             '1998': 357576,
             '1999': 329376,
             '2000': 373368,
             '2001': 355320,
             '2002': 372240,
             '2003': 342912,
             '2004': 341784,
             '2005': 320352,
             '2006': 353064,
             '2007': 346296,
             '2008': 351936,
             '2009': 358704,
             '2010': 296664,
             '2011': 266208,
             '2012': 261696,
             '2013': 307944,
             '2014': 286512,
             '2015': 62040})

In [96]:
yr= [int(i) for i in yr]
len(yr)

11709768

In [98]:
one["release"] = yr
one.head()

,movieId,tagId,relevance,title,genres,release
0,1,1,0.02500,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,2,0.02500,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
2,1,3,0.05775,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
3,1,4,0.09675,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
4,1,5,0.14675,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995

In [100]:
one.to_csv("/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/one.csv")

In [101]:
one = pd.read_csv("/media/radial/Work/Work/Work on datasets/movielens-20m-dataset*/one.csv")
two = pd.merge(one,rating,on = ["movieId"])
two.head()

MemoryError: